@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

/* Correct way to style the scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

.card::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    display: none;
}

/* Optional: Style for the scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Optional: Style for the scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

/* Optional: Style for the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}